<suite name="TestNG Suite">
	<test name="QA">
		<classes>
			<class name="com.evercoding.testcases.SignInTest" />
			<class name="com.evercoding.testcases.CreateUserTest" />
			<class name="com.evercoding.testcases.GetUserTest" />
			<class name="com.evercoding.testcases.DeleteUserTest" />
		</classes>
	</test>
</suite>